@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; 
  background-image: url('../images/img1.1.jpg');
  background-size: cover; 
  flex-direction: column;
}
.container {
  text-align: center; 
  color: white;
}
p{
  font-size: 27px;
  position: absolute;
  margin-top: -30px;
  margin-left: 111px;
  text-shadow: 2px 2px 2px rgb(10, 2, 0);
  text-align: center;
  color: rgb(255, 255, 255);
}
h1{
  font-size: 76px;
  text-shadow: 7px 2px 2px rgb(65, 18, 1);
  text-align: center;
  border-radius: 5px;
  background-color: #854c267e;
  padding: 10px;
  height: 100px;
  padding-right: 13px;
  color: rgb(255, 255, 255);
}
#search{
  border-radius: 10px;
  height: 30px;
  width: 450px;
  padding: 7px;
  padding-top: 7px;
  border: none;
  box-shadow: 1px 5px 3px rgb(124, 54, 26);
  position: relative;
  margin-top: 20px;
}
button{
  border-radius: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(94, 62, 35);
  border: none;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgb(0, 0, 0);
  margin-top: 25px;
  font-size: 14px;
  margin-left: 197px;
}
button:hover{
  background-color: rgb(160, 86, 2);
  color: rgb(255, 255, 255);
}
.itens {
  background-color: rgba(0, 0, 0, 0.726);
  margin-top: 100px;
  margin-left: -590px;
  position: absolute;
  text-align: center;
}
.descricao{
  font-size: 24px;
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-top: 100px;
  text-align: justify;
  padding: 60px;
}
.titulo{
  position: relative;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 40px;
  margin-left: 195px;
  margin-top: 10px;
  text-shadow: 2px 3px 2px rgb(167, 69, 4);
}
a{
  margin-top: 100px;
  color: #cea285;
  margin-left: -1090px;
  font-size: 23px;
  margin-top: 40px;
  position: relative;
}
u{
  color: rgb(167, 67, 4);
}

